.container {
  display: flex;
  flex-direction: column;
  padding: 12px;
  flex: 1;
  gap: 16px;
  min-height: 0;
}

.header_box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.directory_name_label {
  font-size: var(--font-size-helix-product-body-default);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-helix-product-body-default);
  color: var(--grey-60);
}

.directory_name {
  padding: 4px;
  font-size: var(--font-size-helix-product-body-default);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-helix-product-body-default);
}
