.container {
  display: flex;
  flex-direction: column;
  padding: 12px;
  flex: 1;
  gap: 16px;
  min-height: 0;
}

.header_box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.directory_name_label {
  font-size: 0.875rem;
  font-weight: var(--font-weight-regular);
  line-height: 1.25rem;
  color: var(--grey-60);
}

.directory_name {
  padding: 4px;
  font-size: 0.875rem;
  font-weight: var(--font-weight-regular);
  line-height: 1.25rem;
}
