.container {
  display: flex;
  flex-direction: row;
  flex: 400px 0 0;
  align-items: center;
  border-radius: var(--border-radius-8);
  box-shadow: 0 1px 3px 0 rgba(22, 33, 45, 0.2);
  border: 1px solid var(--grey-30);
  &:focus-within {
    border: 2px solid var(--blue-50);
  }
}

.icon_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 20px 0 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--transparent);
  &:focus-visible {
    border: 2px solid var(--blue-50);
  }
}

.icon_container_active {
  &:hover {
    background-color: var(--transparent-black-20);
  }
  &:active {
    background-color: var(--transparent-black-30);
  }
}

.icon {
  width: 16px;
  height: 16px;
}

.icon_active {
  color: var(--black-90);
}

.icon_inactive {
  color: var(--grey-40);
}

.controls_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  border-left: 1px solid var(--grey-30);
}
