.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.column_element {
  flex: 1 1 50%;
}

.rows_container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title_container {
  font-size: var(--font-size-helix-product-body-default);
  line-height: var(--line-height-helix-product-body-default);
  font-weight: var(--font-weight-semi-bold);
}

.content_row_container {
  display: flex;
  flex-direction: row;
  background-color: var(--grey-20);
  padding: 4px;
  border-radius: 4px;
  align-items: center;
}

.content_title {
  font-size: var(--font-size-helix-product-body-default);
  line-height: var(--line-height-helix-product-body-default);
  font-weight: var(--font-weight-regular);
  color: var(--grey-60);
}

.content_payload {
  font-size: var(--font-size-helix-product-body-default);
  line-height: var(--line-height-helix-product-body-default);
  font-weight: var(--font-weight-regular);
  overflow: hidden;
  word-wrap: break-word;
}
