.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px;
  border-bottom: 1px solid var(--grey-30);
  align-items: center;
}

.select_working_directory_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 36px;
  background-color: var(--transparent);
}

.app_name_text {
  font-size: var(--font-size-helix-product-body-large);
  font-style: normal;
  font-weight: var(--font-weight-semi-bold);
  line-height: var(--line-height-helix-product-body-large);
}
