.container {
  display: flex;
  flex-direction: row;
  padding: var(--spacing-4);
  gap: var(--spacing-8);
  align-items: center;
  background-color: var(--grey-20);
  color: var(--black-90);
  border-radius: var(--spacing-4);
  justify-content: space-between;
}
